body{
    background-color: #777;
    margin: auto;
    /* box-sizing: border-box; */
    /* border-width: 1px; */
    width: 960px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

header{
    background-color: #ebebeb;
    color: #777;
    margin-top: 12px;
    margin-bottom: 1px;
    padding: 30px;
    text-align: center;
    border: 1px solid;
   }

nav{
    background-color: #ebebeb;
    color: #777;
    margin-top: 12px;
    margin-bottom: 20px;
    padding: 40px;
    text-align: center;
    border: 1px thin;
}

section{
    background-color: #ebebeb;
    text-align: center;
    box-sizing: border-box;
    float:left;
    /* padding:40px; */
    /* height:10px; */
    /* width: 497px; */
    /* box-sizing: content-box;     */
    width: 495px;
    height: 260.7px;
    padding: 20px;    
    border: 1px thin;
    margin-right: 10px;
    margin-bottom: 20px;
}

aside{
    background-color: #ebebeb;
    color: #777;
    box-sizing: border-box;
    border: 1px thin;
    text-align: center;
    float:right;
    width: 440px;
    height: 260.7px;
    padding: 20px;
    border: 1px thin;
    margin-left: 10px;
}

article{
    clear: both;
    overflow: hidden;
    background-color: #777;
    color: #ebebeb;
    text-align: center;
    /* box-sizing: border-box; */
    /* border-style: thin; */
    width: 460px;
    height:150px;
    padding: 4px;
    border: 1px thin;
}

h1{
    background: #ebebeb;
    color: #777;
    text-align: center;
    box-sizing: border-box;
    border:1px thin;
    margin:auto;
    width:425px;
    height:0px;
    /* padding: 10px; */
    /* border: 1px thin; */
}   

p{
    background: #ebebeb;
    color: #777;
    text-align: center;
    box-sizing:
    padding:10px;
}

footer{
    clear:both;
    background-color:#ebebeb;
    color:#777;
    text-align:center;
    padding:20px;
    margin-top: 300px;
    margin-bottom: 220px;
}